/* 커스텀 */
/* section-1 */
.section-1 {
  position: relative;
  height: 100vh;
  min-height: 600px;
}

.section-group {
  overflow: hidden;
}

.section-1.aos-animate .bg {
  width: 5000px;
  height: 5000px;
}

.section-1 .bg {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #39ffba 20%, #79fffa 70%);
  transition: all 1.5s 1s;
  z-index: -1;
  pointer-events: none;
}

.section-1.active > .bg::after {
  background-color: rgba(0, 0, 0, 0.15);
}

.section-1 .bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.bg_2 {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 100;
  transition: 0.2s 0.2s;
  width: 2007px;
  height: 1050px;
}

.bg_2.active {
  opacity: 1;
}

.bg_light {
  top: 0;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 100;
  transition: 3s 0.3s;
}

.bg_light.active {
  opacity: 1;
}

/* butter */
.butter-2 {
  position: absolute;
  width: 104px;
  top: 166px;
  left: 1264px;
  opacity: 0;
  transition: 0.2s;
}

.butter-2.active {
  opacity: 1;
}

.butter-3.active {
  opacity: 1;
}

.butter-3 {
  position: absolute;
  width: 164px;
  top: 678px;
  left: -72px;
  opacity: 0;
  transition: 0.1s;
}

.butter {
  position: absolute;
  top: 90px;
  left: 130px;
  width: 720px;
}

.butter2 {
  position: absolute;
  top: 420px;
  left: 1250px;
  width: 400px;
  transform: scaleX(-1);
}

svg {
  z-index: -1;
  width: 1450px;
  left: -20px;
  position: absolute;
  top: 238px;
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 6px;
  stroke-dasharray: 20;
  stroke-dashoffset: 1965;
  animation: dash 13s linear alternate infinite;
  animation-fill-mode: forwards;
  opacity: 0;
  transition: 1s 0.5s;
}

svg.active {
  opacity: 0.7;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1965;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.section-1__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 0;
  transition: 0.2s;
}

.section-1__title.active {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
